* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: #232323;
    overflow-x: hidden;
}

.page {
    min-height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.black-background {
    background: #232323;
}

.home-page {
    /* background-image: url('https://img.freepik.com/free-photo/white-paper-texture_1194-2301.jpg?semt=ais_hybrid&w=740&q=80'); */
    background: #d6d6d6;
    width: 100%;
    height: 100vh;
}


.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    width: 100%;
    background: #fefefe;
    gap: 50px;
    padding: 50px;
}

.navigation a {
    padding: 5px;
    position: relative;
    color: #232323;
    text-decoration: none;
    font-size: 26px;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
}

.navigation a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; /* thickness of line */
    transform: translateY(0);
    transition: transform 0.3s ease, width 0.3s ease;
}


.navigation a:hover {
    background-color: #232323;
    color: #fefefe;
}

.navigation a:hover::after {
    transform: translateY(-100%);
    width: 100%;
}

.Home {
    justify-content: center;
    align-items: center;
}

.profile {
    margin-top: 2%;
}

.profile-img {
    width: 25%;
    height: auto;
    object-fit: cover;
}

.page-contents {
    padding: 50px;
    height: 100vh;
    flex-grow: 1;
}

.side-nav {
    position: sticky;
    top: 50px;
    left: 50px;
    width: fit-content;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.heading {
    z-index: 100;
    cursor: pointer;
    transition: color 0.3s ease;
}

.grey-background {
    background-color: #373737;
}

.main-container {
    display: flex;
    min-height: 100vh;
}