.project-page {
    display: grid;
    grid-template-columns: auto 1fr;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 125px;
    padding-left: 50px;
    margin: 10px;
}

.project-list {
    width: 50%;
    padding: 0 25px;
}

.project-list-item {
    height: 553px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
}

