@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h2, p {
    font: inherit;
    word-break: keep-all;
    white-space: pre-wrap;
}

.font-white {
    color: #fefefe;
}

.font-black {
    color: #232323;
}

.engineer {
    font-size: 200px;
    font-weight: bold;
}

.greeting {
    font-size: 50px;
    font-weight: normal;
    margin-top: -90px;
}

.font-bold{
    font-weight: bold;
}

.heading {
    font-size: 50px;
}

.st-heading {
    text-align: left;
    font-size: 40px;
}

.underline {
    display: inline;
    padding-bottom: 7px;
    border-bottom: 4px solid; 
}

.heading-off {
    opacity: 25%;
}