/* ---------------- CONTAINER ------------------ */
.career-page,
.project-page,
.education-page {
    padding-left: 50px;
    margin: 10px;
}

.career-container,
.project-container,
.education-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
}

.career-list,
.project-list,
.education-list {
    width: 100%;
    padding: 0 25px;
}

.career-list-item,
.education-list-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
}

/* Container Info */
.date {
    font-size: 14px;
}

.description-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.description-list-item::before {
    content: "•";
    margin-right: 10px;
}

.institution {
    font-size: 28px;
    font-weight: bold;
}

.role {
    font-size: 16px;
    font-weight: bold;
}

/* Skills And Tools */
.st-lists-heading {
    margin-top: 70px;
}

.st-lists-container,
.project-st-lists-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 10px;
    bottom: 0px;
}

.st-lists-item-small {
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

/* Into Sections */
.container-info {
    display: grid;
    gap: 10px;
    margin-bottom: auto;
}

.skills-section {
    display: grid;
    gap: 10px;
}
