/* ---------------- INITIAL SETTING ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background: #232323;
    overflow-x: hidden;
    overflow-y: auto;
}

.page {
    min-height: 100vh;
}

/* ---------------- STYLE ---------------- */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.black-background {
    background: #232323;
}

.grey-background {
    background-color: #373737;
}

/* ---------------- GENERAL SETTING ---------------- */
.page-contents {
    padding: 50px;
    min-height: 100vh;
    height: auto;
    flex-grow: 1;
}

.heading {
    z-index: 100;
    cursor: pointer;
    transition: color 0.3s ease;
}

.side-nav {
    position: sticky;
    margin: 50px 25px 0 50px;
    top: 25px;
    left: 0px;
    width: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    min-height: 100vh;
}

/* Home and Outro Page */
.white-background-page {
    background: #d6d6d6;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}

/* ---------------- NAVIGATION BAR ---------------- */
.navbar {
    display: flex;
    align-items: center;
    height: 125px;
    width: 100%;
    background: #fefefe;
    padding: 0 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-left a {
    margin-right: 30px;
    text-decoration: none;
    color: #232323;
    font-size: 26px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
    border-bottom: 4px solid #232323;
    padding: 5px;
}

.nav-left a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /* thickness of line */
    transform: translateY(0);
    transition: transform 0.3s ease, width 0.3s ease;
}

.nav-left a:hover {
    background-color: #232323;
    color: #fefefe;
}

.nav-left a:hover::after {
    transform: translateY(-100%);
    width: 100%;
}

/* ---------------- HOME PAGE ---------------- */
.profile {
    margin-top: 2%;
}

.profile-img {
    width: 25%;
    height: auto;
    object-fit: cover;
}

/* Email footer */
.email {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 16px;
    color: #232323;
}

/* Right side buttons */
.right-buttons {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2000;
}

.right-buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 50px;
    cursor: pointer;
    background: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
}

.right-buttons-icon {
    width: 50%;
    height: 50%;
}

/* ---------------- CONTACT MODAL ---------------- */
.contact-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #232323e6;
}

.modal-box {
    background-color: #232323;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 80%;
}

.modal-content {
    display: block;
    margin: 50px auto 0;
    height: fit-content;
    width: 50%;
}

/* Close Btn */
.close {
    float: right;
    margin-right: 10px;
    color: #fefefe;
    font-size: 50px;
}

.close:hover,
.close:focus {
    color: #d6d6d6;
    text-decoration: none;
    cursor: pointer;
}

/* Contact Style */
.contact-modal h1 {
    color: #fefefe;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 50px auto 20px;
    width: fit-content;
    border-bottom: 7px solid #fefefe;
    padding: 5px;
}

/* Input, textarea box */
.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 14px;
    color: #fefefe;
    font-size: 16px;
    background: #373737;
}

textarea {
    height: 280px;
    resize: none;
}

/* Send Button */
.send-btn {
    float: right;
    padding: 10px 30px;
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.send-btn:hover {
    background: white;
    color: black;
}

/* Close X button */
.close-modal {
    position: absolute;
    top: 18px;
    right: 18px;
    background: none;
    color: white;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

/* ---------------- OUTRO PAGE ---------------- */
.paper-background {
    position: relative;
    background-image: url("https://img.freepik.com/free-photo/white-paper-texture_1194-2301.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
}

.paper-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(214, 214, 214, 0.7);
    pointer-events: none;
}
