/* Navigation for home page */
.outro-navigation {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    /* height: 100px; */
    /* background: #fefefe; */
    gap: 50px;
    padding: 0 40%;
    /* width: 100%; */
}

.outro-navigation a {
    padding: 5px;
    position: relative;
    color: #232323;
    text-decoration: none;
    font-size: 26px;
    overflow: hidden;
    transition: color 0.3s, background-color 0.3s;
}

.outro-navigation a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /* thickness of line */
    transform: translateY(0);
    transition: transform 0.3s ease, width 0.3s ease;
}


.outro-navigation a:hover {
    background-color: #232323;
    color: #fefefe;
}

.outro-navigation a:hover::after {
    transform: translateY(-100%);
    width: 100%;
}