/* ---------------- PROJECT CONTAINER ONLY ---------------- */
.project-list-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    /* transition: transform 0.3s ease; */
}

/* .project-list-item:hover {
    transform: translateY(-5px);
} */

.project-img {
    width: 100%;
    object-fit: cover;
}

.project-info {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-st-lists-container {
    margin: 12px 25px;
}

.project-overlay {
    position: absolute;
    flex-direction: column;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.project-list-item:hover .project-overlay {
    opacity: 1;
    pointer-events: auto;
}

.project-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: x-large;
}

/* Github 버튼 스타일 */
.project-github-btn {
    padding: 12px 40px;
    background: #fefefe1a;
    border: 2px solid #fefefe;
    border-radius: 8px;
    color: #fefefe;
    font-size: large;
    text-decoration: none;
    transition: 0.3s ease;
}

/* Hover 버튼 효과 */
.project-github-btn:hover {
    background: #fefefe;
    color: #232323;
}
