.about-me-page {
    position: relative;
    z-index: 2;
}

.skills-tools-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    justify-content: flex-start;
    margin: 0 10%;
    width: 80%;
}

.skills-tools {
    padding: 50px;
    font-size: 50px;
    text-align: left;
}

.skills-tools-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.st-list-item {
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    vertical-align: middle;
}

.st-list-item span {
    display: inline-block;
    width: 120px;
    flex-shrink: 0;
}

.st-list-item .bar {
    flex-grow: 1;
    vertical-align: middle;
}

.st-heading {
    width: 100%;
}

.bar {
    display: inline-block;
    margin-left: 45px;
    width: 250px;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.progress {
    height: 100%;
    align-items: flex-start;
    background-color: #676767;
    border-radius: 10px;
    /* transition: width 0.5s; */
}