.project-page {
    padding-left: 50px;
    margin: 10px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}

.project-list {
    width: 100%;
    padding: 0 25px;
}

.project-list-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.project-list-item:hover {
    transform: translateY(-5px)
}

.project-img {
    width: 100%;
    object-fit: cover;
}

.project-info {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-st-lists-container {
    display: flex;
    flex-direction: row;
    gap: 3px;
    font-size: 10px;
    margin: 12px 25px;
}

.project-st-lists-item-small {
    padding: 10px;
    background-color: #232323;
    border-radius: 15px;
}

